<p id="notice"><%= notice %></p>


  <div>
    <%= button_to 'Get Joke', @jokes, method: :get, form: {style: "display:inline-block;"} %> <%= button_to 'Get Adage', @adages, method: :get, form: {style: "display:inline-block;"} %>
  </div>
      
